<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Vendor/bootstrap4.3.1.min.css', extensionName: 'skynetaccessibilityscanner')}" media="all">

  
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/main.css', extensionName: 'skynetaccessibilityscanner')}" media="all">
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/scanning-and-monitoring-app.css', extensionName: 'skynetaccessibilityscanner')}" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="text/javascript" src="{f:uri.resource(path:'JavaScript/custom.js', extensionName: 'skynetaccessibilityscanner')}"></script>

    <div class="typo3-fullDoc">
        <f:render section="content" />
    </div>
</html>
