<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Backend/Default" />


<f:section name="content">

<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/scanning-and-monitoring-app.css', extensionName: 'skynetaccessibilityscanner')}" media="all">


<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/scanning-and-monitoring-app.js', extensionName: 'skynetaccessibilityscanner')}"></script>
<style>

        .typo3-fullDoc {
    overflow: auto !important;
    height: 100% !important;
}
</style>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
</f:section>



</html>